# Built application files
*.apk
*.ap_

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Gradle files
.gradle/
build/
gradleBuild/

# Local configuration file (sdk path, etc)
local.properties

# IntelliJ
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
.idea/

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# meta data file in macOS
.DS_Store

# Log Files
*.log
